* {
  margin: 0;
  font-family: sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 90vh;
}
.green{
color: green;
}
.yellow{
color: #FEBF1D;
}
.red{
  color: red;
}
/* Question */
.margin{
  margin:10px;
}
.marginTop{
  margin-top: 10px;
}
.marginTB{
  margin-top: 10px;
  margin-bottom: 10px;
}
.diff{
color: green;
}
.marginL{
  margin-left: 15px;
  
}
.marginT{
  margin-top: 5px;
  
}
.example{
  background-color: #F7F9FA;
  padding: 10px;
  margin-top: 10px;
}
.exp{
  display: flex;
  margin-top: 5px;
}