* {
  margin: 0;
  font-family: sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 90vh;
}
.green{
color: red;
}
.yellow{
color: yellow;
}